<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>Ciao [[${name}]],</h3>
<p>Hai recentemente richiesto il reset della password per il tuo account CrewDox. Clicca il bottone sottostante per resettare la tua password.</p>
<p><strong>Il link inviato è valido solo per 5 minuti!</strong></p>
<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <a th:href="${resetPasswordUrl}" class="button button--green" target="_blank">Resetta la tua password</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br>
<!-- Sub copy -->
<table class="body-sub">
    <tr>
        <td>
            <p class="sub">Se non hai richiesto il reset della password, ignora questa email.</p>
        </td>
    </tr>
</table>
</body>
</html>